body {
  margin: 0;
  background-color: linen;
  background-color: rgb(30, 40, 30);
  background-color: #f27a82;
  background-color: #CCC;
  color: black;
  color: rgba(255, 255, 255, 0.5);
  color: hsl(0, 0%, 100%);
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 1em;
  line-height: 1.5em;
}

/* 기본 폰트 사이즈 - 16px */
/* 16 - 100% = 1em */
/* 16 - 50% = 0.5em */
/* 16 - 150% = 1.5em */
/* 32 - 200% = 2em */

.box {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  /* em - 부모 값을 기준으로 비율 조정된다 */
  font-size: 0.75em;
  line-height: 1.5em;

  /* rem - 루트 값을 기준으로 비율 조정된다 */
  font-size: 0.75rem;
  line-height: 1.5rem;
}

div.box {
  /* width: 50%; */
  /* width: 50vw; viewport width */
  /* height: 400px; */
}

p.box {
  width: 500px;
  height: 40vh; /* viewport height */
}

.image {
  width: 500px;
  height: 500px;
  background-image: url("/assets/img/sample.jpg");
  /* background-image: url(/assets/img/sample.jpg); */

  background-repeat: repeat;
  background-repeat: no-repeat;

  background-position: 0 0;
  /* background-position: 100px -100px;
  background-position: 50% 50%;

  background-position: center center; */

  background-position: 50% 50%;
  background-size: 500px auto;
  background-size: auto 500px;

  background-size: cover;
  /* background-size: contain; */
}

.border {
  width: 400px;
  height: 200px;
  background-color: #d4f4c1;
  /* border-width: 20px; */
  border-style: solid;
  border-color: #f2e9e9;

  border-top-width: 5px;
  border-right-width: 10px;
  border-bottom-width: 15px;
  border-left-width: 20px;

  border-top-color: aqua;
  border-right-color: antiquewhite;
  border-bottom-color: #f27a82;
  border-left-color: #CCC;

  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: double;
  border-left-style: dashed;

  /* border 속성의 축약형 (순서무관) */
  border: 2px solid #000000;
  border: solid 2px #000000;
  border: none;
  border: 0;

  border-radius: 100px;
  border-radius: 50%;
  border-radius: 999px;

  border-top-left-radius: 20px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 50px;
}

.box-model {
  /* width: 300px; */
  /* height: 300px; */
  /* min-width: 800px; */
  /* min-height: 800px; */
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  height: 50vh;
  min-height: 150px;
  height: 300px;
  /* margin: 20px; */
  /* padding: 40px; */
  background-color: #ffffff;
  /* border: 10px solid transparent; */
  color: #000000;
}