/*---- Reset ----*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------*/
img {
  display: inline-block;
  vertical-align: top;
}

aside#banner {
  position: relative;
  width: 100%;
  background-color: #54b8fb;
}

/* aside#banner button.close_button {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: red;
  border: 0;
  text-indent: -9999px;
  cursor: pointer;
} */

/* aside#banner button.close_button::before,
aside#banner button.close_button::after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
} */

aside#banner .close_box {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 24px;
  height: 24px;
}

.close {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}

.close::before,
.close::after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  opacity: 0.5;
  transition: opacity 180ms ease-in-out;
}

.close::after {
  top: 20%;
  bottom: 20%;
  right: 50%;
  width: 2px;
  transform: translateX(50%) rotate(-45deg);
}

.close::before {
  top: 50%;
  right: 20%;
  left: 20%;
  height: 2px;
  /* margin-top: -1px; */
  transform: translateY(-50%) rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
  opacity: 1;
}

/* aside#banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
} */

header#header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}

header#header .logo .content-area {
  position: relative;
}

header#header .logo .content-area > a#logo.logo {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 21px;
  left: 184px;
  width: 82px;
  height: 38px;
  background-color: white;
  background-image: url(/assets/img/ohou_main.png);
  background-size: 108px 91px;
  background-position: -10 0;
  text-indent: -9999px;
}

aside#banner .banner_content,
header#header .header_content,
main#main .main_content,
footer#footer .footer-content {
  width: 1256px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  box-sizing: border-box;
}

header#header,
header#header nav#navigation {
  border-bottom: 1px solid #eaedef;
}

main#main {
  padding-top: 30px;
  padding-bottom: 40px;
}

section#overview {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 25px; */
}

section#overview .events {
  margin-left: auto;
}

/* section#overview .project + .events {
  margin-left: 25px;
} */

section#categories {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* section#articles_first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
} */

section#articles_first .article + .article {
  margin-top: 40px;
}

/* section#articles_first .article {
  margin-bottom: 40px;
}

section#articles_first .article:last-child {
  margin-bottom: 0;
} */

/* section#articles_first .article {
  margin-top: 40px;
}

section#articles_first .article:first-child {
  margin-top: 0;
} */

/* section#category_finder,
section#today_deal,
section#article_second,
section#top10,
section#reviews,
section .events {
  margin-top: 40px;
} */

main#main section + section {
  margin-top: 40px;
}

section#article_second .article + .article {
  margin-top: 40px;
}

section#best .head,
section#best .list {
  display: flex;
}

section#best .head .util {
  margin-left: auto;
}

section#best .menu {
  position: relative;
  margin-top: 20px;
}
section#best .menu a#slide {
  display: block;
  position: absolute;
  top: -10px;
  right: -20px;
  width: 48px;
  height: 48px;
  background-color: white;
  background-image: url(/assets/img/ohou_main.png);
  background-size: 108px 91px;
  background-position: 94% 90%;
  border-radius: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* section#best .list .item + .item {
  margin-left: 20px;
} */

section#best .menu + .list {
  margin-top: 20px;
}

section#best .list .list_wrap {
  display: flex;
  /* margin-top: -20px; */
  margin-right: -10px;
  /* margin-bottom: -20px; */
  margin-left: -10px;
}

section#best .list .item {
  /* width: 50%; */
  /* padding-top: 20px; */
  padding-right: 10px;
  /* padding-bottom: 20px; */
  padding-left: 10px;
  box-sizing: border-box;
}

section#best .list .item img {
  width: 100% !important;
}

footer#footer {
  background-color: #f8f9fb;
}
