@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}


.box {
  width: 300px;
  margin: 20px;
  font-size: 16px;
  line-height: 24px;
  /* font-weight: normal;
  font-weight: bold;
  font-weight: lighter; */

  /* font-weight: 300; /*light*/
  /* font-weight: 200;  */
  /*ultra light*/
  /* font-weight: 100;  */
  /*thin*/
  /* font-weight: 500;  */
  /*semi bold*/
  /* font-weight: 600;  */
  /*bold*/
  /* font-weight: 700;
  font-weight: 800; */
  /* font-weight: 900;
  font-weight: 400;reguler */

  /* font-style: oblique;
  font-style: italic;
  font-style: normal; */

	/* font-family: 'Noto Sans KR', 'Roboto', 'Noto Sans', -apple-system, 'Helvetica Neue', 'Arial', sans-serif;

	font-family: 'SF Pro KR', 'SF Pro Display', 'SF Pro Icons', 'Apple Gothic', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */


  /*폰트 축약형 - 수정*/
}

.box-1 {
  font-family: 'Noto Sans KR', sans-serif;
}

.box-2 {
  font-family: 'Montserrat', sans-serif;
}

.box-3 {
  /* font-family: futura-pt, sans-serif;
  font-weight: 700; */

  font-family: essonnes-text, serif;
  font-weight: 400;
  font-style: italic;
}